<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameluck.promotion.mapper.PromotionClaimMapper">

    <select id="selectByPromotionAndMember" resultType="com.gameluck.promotion.domain.PromotionClaim">
        SELECT *
        FROM gl_promotion_claim
        WHERE tenant_id = #{tenantId}
          AND promotion_id = #{promotionId}
          AND member_id = #{memberId}
          AND del_flag = '0'
        LIMIT 1
    </select>

</mapper>
