<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameluck.member.mapper.MemberProfileMapper">

    <select id="selectByUsername" resultType="com.gameluck.member.domain.MemberProfile">
        SELECT *
        FROM gl_member_profile
        WHERE tenant_id = #{tenantId}
          AND username = #{username}
          AND del_flag = '0'
        LIMIT 1
    </select>

    <select id="selectClientMember" resultType="com.gameluck.member.domain.MemberProfile">
        SELECT *
        FROM gl_member_profile
        WHERE tenant_id = #{tenantId}
          AND id = #{memberId}
          AND del_flag = '0'
        LIMIT 1
    </select>

    <select id="selectByMemberNo" resultType="com.gameluck.member.domain.MemberProfile">
        SELECT *
        FROM gl_member_profile
        WHERE tenant_id = #{tenantId}
          AND member_no = #{memberNo}
          AND del_flag = '0'
        LIMIT 1
    </select>

</mapper>
